In [15]:
import pandas as pns
import numpy as npy
from pandas import DataFrame
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [16]:
# Data materi sebelumnya
df = pns.read_csv("/content/drive/MyDrive/apartemen2(numerik).csv")
print(df)

   Unnamed: 0    KodeApt  Wilayah  St_Milik  Jum_Kamar
0           0      104.0        0         1        3.0
1           1      197.0        2         0        3.0
2           2  1000000.0        2         0        3.0
3           3      201.0        3         0        1.0
4           4      203.0        3         1        3.0
5           5      207.0        3         1        3.0
6           6     9999.0        1         1        2.0
7           7      213.0        0         1        3.0
8           8      215.0        0         1        3.0

In [17]:
# statistik deskriptif
print(df.describe())

       Unnamed: 0         KodeApt   Wilayah  St_Milik  Jum_Kamar
count    9.000000        9.000000  9.000000  9.000000   9.000000
mean     4.000000   112371.000000  1.555556  0.666667   2.666667
std      2.738613   332876.679663  1.333333  0.500000   0.707107
min      0.000000      104.000000  0.000000  0.000000   1.000000
25%      2.000000      201.000000  0.000000  0.000000   3.000000
50%      4.000000      207.000000  2.000000  1.000000   3.000000
75%      6.000000      215.000000  3.000000  1.000000   3.000000
max      8.000000  1000000.000000  3.000000  1.000000   3.000000

In [18]:
df.loc[2, 'Jum_Kamar'] = 100
df.loc[8, 'Jum_Kamar'] = 87
df.loc[7, 'Jum_Kamar'] = 54
df.loc[4, 'Jum_Kamar'] = 99
df.loc[5, 'Jum_Kamar'] = 16
print(df)
print(df.shape)
print(df.Jum_Kamar)

   Unnamed: 0    KodeApt  Wilayah  St_Milik  Jum_Kamar
0           0      104.0        0         1        3.0
1           1      197.0        2         0        3.0
2           2  1000000.0        2         0      100.0
3           3      201.0        3         0        1.0
4           4      203.0        3         1       99.0
5           5      207.0        3         1       16.0
6           6     9999.0        1         1        2.0
7           7      213.0        0         1       54.0
8           8      215.0        0         1       87.0
(9, 5)
0      3.0
1      3.0
2    100.0
3      1.0
4     99.0
5     16.0
6      2.0
7     54.0
8     87.0
Name: Jum_Kamar, dtype: float64

In [19]:
fitur_minmax = df.copy()
Kol_minmax = ['Jum_Kamar']
fitur = fitur_minmax[Kol_minmax]
min_max = MinMaxScaler()
standar = StandardScaler()
kamar_standar = standar.fit_transform(fitur.values)
kamar_minmax = min_max.fit_transform(fitur.values)
print(kamar_minmax)
print(kamar_standar)

[[0.02020202]
 [0.02020202]
 [1.        ]
 [0.        ]
 [0.98989899]
 [0.15151515]
 [0.01010101]
 [0.53535354]
 [0.86868687]]
[[-0.89740136]
 [-0.89740136]
 [ 1.42044298]
 [-0.94519196]
 [ 1.39654768]
 [-0.58676243]
 [-0.92129666]
 [ 0.32125907]
 [ 1.10980405]]

In [20]:
# mean dan standarisasi hasil normalisasi
print(npy.mean(kamar_minmax))
print(npy.std(kamar_minmax))

0.39955106621773295
0.42271949170292694

fitur minmax merupakan hasil hitungan rumus dari ((bilangan tertera) - (bilangan minimal dari seluruh grup)) dibagi ((bilangan maksimal dari seluruh grup - (bilangan minimal seluruh grup)). Singkatnya normalisasi

In [21]:
# coba coba
kamar_minmax2 = MinMaxScaler().fit_transform(df.copy([Kol_minmax]).values)
print(kamar_minmax2)

[[0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  2.02020202e-02]
 [1.25000000e-01 9.30096730e-05 6.66666667e-01 0.00000000e+00
  2.02020202e-02]
 [2.50000000e-01 1.00000000e+00 6.66666667e-01 0.00000000e+00
  1.00000000e+00]
 [3.75000000e-01 9.70100890e-05 1.00000000e+00 0.00000000e+00
  0.00000000e+00]
 [5.00000000e-01 9.90102971e-05 1.00000000e+00 1.00000000e+00
  9.89898990e-01]
 [6.25000000e-01 1.03010713e-04 1.00000000e+00 1.00000000e+00
  1.51515152e-01]
 [7.50000000e-01 9.89602919e-03 3.33333333e-01 1.00000000e+00
  1.01010101e-02]
 [8.75000000e-01 1.09011337e-04 0.00000000e+00 1.00000000e+00
  5.35353535e-01]
 [1.00000000e+00 1.11011545e-04 0.00000000e+00 1.00000000e+00
  8.68686869e-01]]

In [22]:
fitur_minmax[Kol_minmax] = kamar_minmax
print(fitur_minmax)

   Unnamed: 0    KodeApt  Wilayah  St_Milik  Jum_Kamar
0           0      104.0        0         1   0.020202
1           1      197.0        2         0   0.020202
2           2  1000000.0        2         0   1.000000
3           3      201.0        3         0   0.000000
4           4      203.0        3         1   0.989899
5           5      207.0        3         1   0.151515
6           6     9999.0        1         1   0.010101
7           7      213.0        0         1   0.535354
8           8      215.0        0         1   0.868687

In [23]:
df.to_csv("/content/drive/MyDrive/apartemen(minmax).csv", header=True, index=False )