In [50]:
import pandas as pnd
import numpy as nmp

In [51]:
df = pnd.read_csv("/content/drive/MyDrive/apartemen2.csv")
print (df)

   KodeApt   Wilayah St_Milik Jum_Kamar
0    104.0    Bantul        Y         3
1    197.0    Sleman        N         3
2      NaN    Sleman        N       NaN
3    201.0     Yogya       12         1
4    203.0     Yogya        Y         3
5    207.0     Yogya        Y       NaN
6      NaN  KL-Progo      NaN         2
7    213.0    Bantul        Y        --
8    215.0    Bantul        Y        na

In [52]:
# seandainya di clean
dataset_clean = df.dropna()
print("Setelah di clean: ", dataset_clean.shape)
print(dataset_clean)

Setelah di clean:  (6, 4)
   KodeApt Wilayah St_Milik Jum_Kamar
0    104.0  Bantul        Y         3
1    197.0  Sleman        N         3
3    201.0   Yogya       12         1
4    203.0   Yogya        Y         3
7    213.0  Bantul        Y        --
8    215.0  Bantul        Y        na

Cek data null dan brp jmlhnya

In [53]:
# cek missing values?
df.isnull().values.any()

True

In [54]:
# Banyaknya Missing values
df.isnull().sum().sum()

5

In [55]:
# Melihat kolom Kode_Apt
df['KodeApt']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [56]:
df['KodeApt'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: KodeApt, dtype: bool

In [57]:
df['St_Milik']

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [58]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [59]:
df['Jum_Kamar']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: Jum_Kamar, dtype: object

In [60]:
df['Jum_Kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: Jum_Kamar, dtype: bool

In [61]:
# Membuat daftar missing values dan cek kembali data pada jum_kamar
missing_val = ["n/a", "na", "--"]
df = pnd.read_csv("/content/drive/MyDrive/apartemen2.csv", na_values = missing_val)
df['Jum_Kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
Name: Jum_Kamar, dtype: bool

In [62]:
df['Jum_Kamar']

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: Jum_Kamar, dtype: float64

In [63]:
# Hitung kembali missing values pada setiap kolom
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     1
Jum_Kamar    4
dtype: int64

In [64]:
# Banyaknya missing values
df.isnull().sum().sum()

7

In [65]:
# Mengisi missing value dengan angka pada lokasi yang spesifik
# Mengganti missing value dengan angka
df['KodeApt'].fillna(9999, inplace=True)
print(df.KodeApt)
# Mengganti pada lokasi spesifik
df.loc[2, 'KodeApt'] = 1000000
print(df.KodeApt)

0     104.0
1     197.0
2    9999.0
3     201.0
4     203.0
5     207.0
6    9999.0
7     213.0
8     215.0
Name: KodeApt, dtype: float64
0        104.0
1        197.0
2    1000000.0
3        201.0
4        203.0
5        207.0
6       9999.0
7        213.0
8        215.0
Name: KodeApt, dtype: float64

In [66]:
# Mengisi missing value dengan nilai median
medi = df['Jum_Kamar'].median()
df['Jum_Kamar'].fillna(medi, inplace=True)
print(df.Jum_Kamar)

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: Jum_Kamar, dtype: float64

In [67]:
# Melihat Keseluruhan Data
print(df)

     KodeApt   Wilayah St_Milik  Jum_Kamar
0      104.0    Bantul        Y        3.0
1      197.0    Sleman        N        3.0
2  1000000.0    Sleman        N        3.0
3      201.0     Yogya       12        1.0
4      203.0     Yogya        Y        3.0
5      207.0     Yogya        Y        3.0
6     9999.0  KL-Progo      NaN        2.0
7      213.0    Bantul        Y        3.0
8      215.0    Bantul        Y        3.0

In [68]:
# Mengganti Data Numerik pada lokasi yang spesifik
df.loc[3, 'St_Milik'] = 'N'
df.loc[6, 'St_Milik'] = 'Y'
print(df)
# Ukuran
df.shape

     KodeApt   Wilayah St_Milik  Jum_Kamar
0      104.0    Bantul        Y        3.0
1      197.0    Sleman        N        3.0
2  1000000.0    Sleman        N        3.0
3      201.0     Yogya        N        1.0
4      203.0     Yogya        Y        3.0
5      207.0     Yogya        Y        3.0
6     9999.0  KL-Progo        Y        2.0
7      213.0    Bantul        Y        3.0
8      215.0    Bantul        Y        3.0

(9, 4)

In [69]:
# Simpan Model
df.to_csv("/content/drive/MyDrive/apartemen2(baru).csv")

In [70]:
# Mengubah data non numerik menjadi numerik 
# Library 
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame
# mengosongkan df dengan cara import ulang pandas
import pandas as pnd
import numpy as nmp
# Baca File Dataset
df = pnd.read_csv("/content/drive/MyDrive/apartemen2(baru).csv")
# Melihat semua isi Data
print(df)
LeCod = LabelEncoder()
for col in df.columns.values:
  # Encoding pada variable kategorial
  if df[col].dtypes == 'object':
      data=df[col].append(df[col])
      LeCod.fit(data.values)
      df[col]=LeCod.transform(df[col])
df.head(10)

   Unnamed: 0    KodeApt   Wilayah St_Milik  Jum_Kamar
0           0      104.0    Bantul        Y        3.0
1           1      197.0    Sleman        N        3.0
2           2  1000000.0    Sleman        N        3.0
3           3      201.0     Yogya        N        1.0
4           4      203.0     Yogya        Y        3.0
5           5      207.0     Yogya        Y        3.0
6           6     9999.0  KL-Progo        Y        2.0
7           7      213.0    Bantul        Y        3.0
8           8      215.0    Bantul        Y        3.0

   Unnamed: 0    KodeApt  Wilayah  St_Milik  Jum_Kamar
0           0      104.0        0         1        3.0
1           1      197.0        2         0        3.0
2           2  1000000.0        2         0        3.0
3           3      201.0        3         0        1.0
4           4      203.0        3         1        3.0
5           5      207.0        3         1        3.0
6           6     9999.0        1         1        2.0
7           7      213.0        0         1        3.0
8           8      215.0        0         1        3.0

In [71]:
df.to_csv("/content/drive/MyDrive/apartemen2(numerik).csv",header=True, index=False)